$nav-text: white;
$adaptation-blue:   #28275e;
$adaptation-tan:    #ece1cc;
$adaptation-green:  #92a584;

body {
    font-size: 1.1rem;
}

.side-bar {
    color: $nav-text;
}

.site-header {
    margin-top: 0;
    border: none;
    font-size: 1.1rem;
    height: 100%;
    //min-height: 110px;

    a:hover {
        background: unset;
    }
}

div.site-logo {
    border-bottom: 1px double $adaptation-tan;
}

#main-header {
    border-bottom: 1px solid $adaptation-tan;
}

.site-title {
    color: $nav-text;
    padding: 0;
    margin: 0;
}

.site-nav {
    padding-top: 1rem;
}

.nav-list .nav-list-item .nav-list-link {
    padding-left: 0.2rem;
}

.site-nav ul li a {
    background: none;
    color: $nav-text !important;
    font-size: 1.1rem;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    margin: 0.1rem 0;
    word-wrap: break-word;
    white-space: normal;
      
    &:hover {
        background: darken($adaptation-blue, 25) !important;
        color: $nav-text;

    }
  
    &:visited {
        color: $nav-text !important;
    }
      
    &.active {
      background: darken($adaptation-blue, 15) !important;
      font-weight: 600;
      color: $nav-text !important;
    }
  }

.main-content h1:first-of-type {
    margin-top: 0; // override just the docs top margin
}

h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

hr {
    background-color: $adaptation-tan;
    clear: right; // clear floating images
}

site-footer {
    font-size: 0.8rem;
}