$adaptation-tan:    #ece1cc;
$nav-text:          $adaptation-tan;

body {
    font-size: 1.1rem;
}

.side-bar {
    color: $nav-text;
}

.site-header {
    margin-top: 0;
    border-bottom: 1px solid $adaptation-tan;
    font-size: 1.1rem;
    min-height: 110px;

    a:hover {
        background: unset;
    }
}

.site-title {
    color: white;
    //font-weight: 500;
    //font-size: 1.6rem;
    //padding-left: 0.5rem;
    //padding-right: unset;
    
    &:hover {
      //background-image: none;
    }
}

.site-nav {
    //padding-top: 0.5rem;
}  

hr {
    background-color: $adaptation-tan;
    clear: right; // clear floating images
}

