html {
    font-size: 18px !important;
}

.side-bar {
    color: $nav-text;
}

.site-header {
    margin-top: 0;
    border-bottom: thick double $adaptation-green;
    font-size: 1.1rem;
    min-height: 120px;

    a:hover {
        background: unset;
    }
}

#main-header {
    border-bottom: 1px solid $grey-lt-300;
}

.site-title {
    color: $nav-text;
    padding: 0;
    margin: 0;
}

#site-nav {
    padding-top: 1rem;
}
.nav-list .nav-list-item .nav-list-expander {
    color: $adaptation-tan;
}

.nav-list .nav-list-item.active .nav-list-expander {
    color: $adaptation-yellow;
}

li.nav-list-item {
    &.active {
        .nav-list-expander {
            color: red;
        }
    }
}
.site-nav ul li a {
    background: none;
    color: $nav-text !important;
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.05rem !important;
      
    &:hover {
        background: $purple-200 !important;
        color: $nav-text;
    }
  
    &:visited {
        color: $nav-text !important;
    }
      
    &.active {
      background: $purple-100 !important;
      font-weight: 600;
      color: $nav-text !important;
    }
}

ul.nav-list .nav-list-item .nav-list-link {
    padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.main-content-wrap {
    margin-top: 0;
}

.main-content h1:first-of-type {
    margin-top: 0; // override just the docs top margin
}

h1 {
    font-size: 2.8em !important;
    font-weight: 400;
}

h2, h3, h4, h5, h6
{
    color: $purple-300;
}

hr {
    background-color: $adaptation-tan;
    clear: right; // clear floating images
}

footer {
    font-size: 0.8rem !important;
}

.float-right-third {
    float: right;
    width: calc(33% - 1rem);
    margin: 0.5rem 0 0.5rem 1rem;
  }

figure.captioned-image {
    background-color: $adaptation-tan;
    padding: 0.2rem 0.2rem;
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);

    figcaption {
        font-size: 0.9rem;
        margin-top: 0.2rem;
        line-height: 0.9;
  }
}
  
blockquote, p.note, p.warning, p.important, p.idea {
    clear: right; // callouts will appear below floating photos, like h1 and h2
}
  