$adaptation-blue:   #28275e;
$adaptation-tan:    #ece1cc;
$adaptation-green:  #92a584;

$body-text-color:       $adaptation-blue;
$body-heading-color:    $adaptation-blue;
$link-color:            $adaptation-blue;
$sidebar-color:         $adaptation-blue;
$nav-text:             white;