$body-text-color:       $adaptation-purple;
$body-heading-color:    $adaptation-purple;
$link-color:            $adaptation-purple;
$sidebar-color:         $adaptation-purple;
$nav-child-link-color:  $adaptation-green;
